@page 
@model BeansBurgers_v2.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<style>
    ul {
        list-style-type: none;
        color: white;
    }
    h1, a, p, h3, hr {
        color: white;
    }
    button{
    padding: 1.5% 9% 1.5% 9%; 
    border-radius: 20px;
    border: none;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white;
    background-image: linear-gradient(transparent, transparent, transparent));
    box-shadow: 0px 0px 1px 1px white;
    }

    
    a{
        text-decoration: none;
    }
    .nope{
        background-image: none;
        background-color: transparent;
        border: none;
        color: white;
        padding: none;
        margin: none;
    }
    
    .col-sm-2{
        background-image: radial-gradient(transparent, transparent, transparent));
        margin: 5px;
        border-radius: 5px;
    }
</style>
<div class="columns">
    <div class= "column is-3">
        <p class="current-order"> Current Order </p>
        <hr/>
        <ul id="cart">
            @foreach (var product in Model.OrderItems)
            {
                <li>
                    <div class="columns">
                        <div class="column" style="text-align: left">
                            <a asp-page="/Delete" asp-route-id="@product.Id">
                                    <button class="nope">
                                        <i class="material-icons">clear</i>
                                    </button>
                            </a>
                        </div>
                        <div class="column">
                            <a asp-page="/Customize" asp-route-id="@product.Id,@product.CustomBurger">
                                    <button class="nope">
                                        <i class="material-icons">create</i>
                                    </button>
                            </a>
                        </div>
                        <div class="column current-order-items" style="text-align: left">
                            @product.CustomBurger
                        </div>
                        <div class="column current-order-items" style="text-align: left">
                             $@string.Format("{0:0.00}", @product.BurgerPrice)
                        </div>
                        
                    </div>
                </li>
            }
        </ul>
    </div>
    <div class= "column is-9">
        <form method="post" asp-page="/Menu">
            <div id="productsWrapper" class="row">
                @foreach (var product in Model.MenuItems)
                {
                    @if(@product.Id == 1)
                    {
                        <div>
                            <h1 class="section-dish"> Side Dishes </h1>
                            <hr/>
                        </div>
                    }
                    @if(@product.Id == 15)
                    {
                        <div>
                            <br/>
                            <h1 class="section-dish"> Burgers </h1>
                            <hr />
                        </div>
                    }
                    <div class="col-sm-2">
                        <a title="Order @product.Name">
                            <div class="productInfo">
                                
                                <img class="product-image img-fluid img-thumbnail" src="~/wwwroot/images/@product.Name" alt="Image of @product.Name" />
                                <p class="product-title">@product.Name</p> 
                                <p class="description">@product.Description</p>
                            </div>
                        </a>

                        <div class="action">
                            <div class="columns">
                                <div class="column">
                                    <p class="price float-left product-title">$@string.Format("{0:0.00}", product.Price)</p>
                                    <button class="btn btn-sm text-white order-button float-left product-title" name="Order" value="@product.Id" type="submit" title="Order @product.Name">Add to Order</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                }
            </div>
        </form>
    </div>
</div>



@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`/masterdetails/product?id=${$(this).data('id')}`);
            });
        })
    </script>
}