@page
@model BeansBurgers_v2.Pages.CheckoutConfirmationModel
@{
}
<style>
    ul {
        list-style-type: none;
        color: white;
    }
    h1,h2, a, p, h3, hr {
        color: white;
    }
    button{
    padding: 1.5% 9% 1.5% 9%; 
    border-radius: 20px;
    border: none;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white;
    background-image: linear-gradient(transparent, transparent, transparent));
    box-shadow: 0px 0px 1px 1px white;
    }
    a{
        text-decoration: none;
    }
    .nope{
        background-image: none;
        background-color: transparent;
        border: none;
        color: red;
        padding: none;
        margin: none;
    }
    
    .col-sm-2{
        background-image: radial-gradient(transparent, transparent, rgb(53, 53, 53));
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px orange;
    }
</style>
<h1> Thanks for checking out!</h1>
<h2>Order number @Model.OrderDetails.Id</h2>
 @foreach (var product in Model.OrderDetails.OrderItemsList)
{
    <li>
        <div class="columns">

            <div class="column" style="text-align: left">
                @product.CustomBurger
            </div>
            <div class="column" style="text-align: left">
                    $@string.Format("{0:0.00}", @product.BurgerPrice)
            </div>
            <div class="column" style="text-align: left">
                @product.Quantity
            </div>

            
        </div>
    </li>   
}
<p>Total Items: @Model.OrderDetails.totalItems</p>
<p>Total Price: $@Model.OrderDetails.totalPrice</p>
<p>Total Tax: $@Model.OrderDetails.totalTax</p>
<p>Grand Total: $@Model.OrderDetails.grandTotal</p>
<a asp-page="/Index"><button class="btn btn-sm text-white order-button float-left">Home</button></a>
<a asp-page="/Menu"><button class="btn btn-sm text-white order-button float-left">Back to Menu</button></a>