@page "{id:int}"
@model BeansBurgers_v2.Pages.CustomizeModel 
@{ ViewData["Title"] = "Customize"; 

} 

<div>
 @* <h1>Customize your Burger: @Model.MenuItem.Name</h1> *@
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Cart </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <ul id="cart"> 
        
        @foreach (var product in Model.OrderItems) { <li>
          <table width="100%">
            <tr>
              <td width="50%"> @product.CustomBurger </td>
              <td width="25%"> $@string.Format("{0:0.00}", product.BurgerPrice) </td>
              <td width="25%"> Del btn </td>
            </tr>
          </table>
        </li> } </ul>
      <a class="btn btn-sm btn-danger order-button float-right" title="Check out" asp-page="/Menu">Checkout</a>
    </div>
  </div>
  <form method="post" asp-asp-page="/Customize"> 
    <input type="hidden" asp-for="MenuItem.Id"/>
     <div id="productsWrapper" class="row"> 
        
 <div>
                    <h1> Buns </h1>
                    <hr/>
                </div>

     @foreach (var buns in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.BunsEnum)))
     {
        <label asp-for="Buns">@buns</label>
        <input type="radio" asp-for="Buns" value="@buns"/>
       
     }
      <div>
                    <h1> Patties </h1>
                    <hr/>
                </div>
          @foreach (var patties in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.PattiesEnum)))
     {
        <label asp-for="Patties">@patties</label>
        <input type="radio" asp-for="Patties" value="@patties"/>
     }
      <div>
                    <h1> Toppings </h1>
                    <hr/>
                </div>

          @foreach (var toppings in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.ToppingsEnum)))
     {
        <label asp-for="Toppings">@toppings</label>
        <input type="radio" asp-for="Toppings" value="@toppings"/>
     }
      <div>
                    <h1> Cheese </h1>
                    <hr/>
                </div>
          @foreach (var cheese in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.CheeseEnum)))
     {
        <label asp-for="Cheese">@cheese</label>
        <input type="radio" asp-for="Cheese" value="@cheese"/>
     }
      <div>
                    <h1> Sauces </h1>
                    <hr/>
                </div>
          @foreach (var sauce in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.SauceEnum)))
     {
        <label asp-for="Sauce">@sauce</label>
        <input type="radio" asp-for="Sauce" value="@sauce"/>
     }
     
     </div>

         <button class="btn btn-sm btn-danger order-button float-right" type="submit" asp-for="MenuItem.Id" value="@Model.MenuItem.Id">Payment</button>

  </form>
</div> 

@section scripts{ 
    
    <partial name="_ValidationScriptsPartial"></partial>
<script type="text/javascript">
  /* Add/Subtract ingredients */
  @* $('.minus, .plus').click(function(e) {
    e.preventDefault();
    var $input = $(this).siblings('.value');
    var val = parseInt($input.val(), 10);
    if (val >= 0) {
      $input.val(val + ($(this).hasClass('minus') ? -1 : 1));
    } else {
      $input.val(val + 1);
      alert("You have no more of this ingredient");
    }
  }); *@
</script> }