@page "{id}"
@model BeansBurgers_v2.Pages.CustomizeModel 
@{ ViewData["Title"] = "Customize"; 

} 
<style>
    ul {
        list-style-type: none;
    }
    h1, a, p, h3, h4, hr, label {
        color: white;
    }
    button{
    padding: 1.5% 9% 1.5% 9%; 
    border-radius: 20px;
    border: none;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white;
    background-image: linear-gradient(orange, rgb(225, 122, 20));
    }
    a{
        text-decoration: none;
    }
    .nope{
        background-image: none;
        background-color: transparent;
        border: none;
        color: red;
    }
    
    .col-sm-2{
        background-image: radial-gradient(transparent, transparent, rgb(53, 53, 53));
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px orange;
    }
    
</style>

<div>
  <form method="post" asp-asp-page="/Customize"> 
    <input type="number" value="1" name="Quantity">
    <a asp-page="/Customize"><button type="submit" name="Accept" value="">Complete Customization</button></a>
    <input type="hidden" asp-for="MenuItem.Id"/>
    <div id="productsWrapper" class="row">     
      <div>
        <h1> Buns </h1>
        <hr/>
      </div>
      @foreach (var buns in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.BunsEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <label asp-for="Buns">@buns</label>
          </div>
          <div class="column is-1">
            <input type="radio" asp-for="Buns" name="@buns" value="@buns"/>
          </div>
        </div>
      }
      
      <div>
        <h1> Patties </h1>
        <hr/>
      </div>
      @foreach (var patties in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.PattiesEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <h4>@patties</h4>
          </div>
          <div class="column is-1">
            <input type="radio" id="none" name="@patties" value="None">
            <label for="none">None</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Normal" name="@patties" value="Normal">
            <label for="Normal">Normal</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Double" name="@patties" value="Double">
            <label for="Double">Double</label>
          </div>
        </div>
      }
      <br/>
      <br/>
      <div>
        <h1> Toppings </h1>
        <hr/>
      </div>
      @foreach (var toppings in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.ToppingsEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <h4>@toppings</h4>
          </div>
          <div class="column is-1">
            <input type="radio" id="none" name="@toppings" value="None">
            <label for="none">None</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Normal" name="@toppings" value="Normal">
            <label for="Normal">Normal</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Double" name="@toppings" value="Double">
            <label for="Double">Double</label>
          </div>
        </div>
      }

      <div>
        <h1> Cheese </h1>
        <hr/>
      </div>
      @foreach (var cheese in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.CheeseEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <h4>@cheese</h4>
          </div>
          <div class="column is-1">
            <input type="radio" id="none" name="@cheese" value="None">
            <label for="none">None</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Normal" name="@cheese" value="Normal">
            <label for="Normal">Normal</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Double" name="@cheese" value="Double">
            <label for="Double">Double</label>
          </div>
        </div>
      }
      
      <div>
        <h1> Sauces </h1>
        <hr/>
      </div>
      @foreach (var sauce in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.SauceEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <h4>@sauce</h4>
          </div>
          <div class="column is-1">
            <input type="radio" id="none" name="@sauce" value="None">
            <label for="none">None</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Normal" name="@sauce" value="Normal">
            <label for="Normal">Normal</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Double" name="@sauce" value="Double">
            <label for="Double">Double</label>
          </div>
        </div>
      } 
    </div>
  </form>
</div>
