@page "{id}"
@model BeansBurgers_v2.Pages.CustomizeModel 
@{ ViewData["Title"] = "Customize"; 

}
@using BeansBurgers_v2.Models; 
<style>
    ul {
        list-style-type: none;
    }
    h1, a, p, h3, h4, hr, label {
        color: white;
    }
    button{
    padding: 1.5% 9% 1.5% 9%;
    margin-left: 5%; 
    border-radius: 20px;
    border: none;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    text-shadow: 0px 0px 1px white;
    background-image: linear-gradient(transparent, transparent, transparent);
    box-shadow: 0px 0px 1px 1px white;
    }
    a{
        text-decoration: none;
    }

    .userInput{
      background-color:rgba(0, 0, 0, 0);
    color:white;
    border-style: solid ;
    border-radius: 5px;

    }

    .nope{
        background-image: none;
        background-color: transparent;
        border: none;
        color: red;
    }
    
    .col-sm-2{
        background-image: radial-gradient(transparent, transparent, rgb(53, 53, 53));
        margin: 5px;
        border-radius: 5px;
        box-shadow: 0px 0px 1px 1px orange;
    }
    
</style>

<div>
  <form method="post" asp-asp-page="/Customize"> 
    <input asp-for="OrderItem.Quantity" class="userInput" type="number"/>
    @* <input asp-for="OrderItem.BurgerPrice" class="userInput" type="number"/> *@
    <p>@Model.OrderItem.MenuItem.Name</p>
    <p>@Model.OrderItem.BurgerPrice</p>
    <button class="btn text-white current-order" type="submit" name="Accept" value="">
      Complete Customization
    </button>
    <input type="hidden" asp-for="OrderItem.Id"/>
    <input type="hidden" asp-for="ItemId"/>
    <input type="hidden" asp-for="OrderItem.BurgerPrice"/>
    <input type="hidden" asp-for="OrderItem.MenuItem.Name"/>
   
    <div id="productsWrapper" class="row">     
      <div>
        <h1 class="section-dish-small"> Buns </h1>
        <hr/>
      </div>
      <div>
        <select asp-for="OrderItem.Bun" asp-items="@Html.GetEnumSelectList<BunsEnum>()"></select>
      </div>
      @*
      @foreach (var buns in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.BunsEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <label class="current-order-items" asp-for="Buns">@buns</label>
          </div>
          <div class="column is-1">
            <input type="radio" asp-for="Buns" name="@buns" value="@buns"/>
          </div>
        </div>
      }*@
      
      <div>
        <h1 class="section-dish-small"> Patties </h1>
        <hr/>
      </div>
      <div>
        <select asp-for="OrderItem.Pattie" asp-items="@Html.GetEnumSelectList<PattiesEnum>()"></select>
      </div>
      @*
      @foreach (var patties in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.PattiesEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <label class="current-order-items" asp-for="Patties">@patties</label>
          </div>
          <div class="column is-1">
            <input type="radio" asp-for="Patties" name="@patties" value="@patties"/>
          </div>
        </div>
      }
      <br/>
      <br/>*@
      <div>
        <h1 class="section-dish-small"> Toppings </h1>
        <hr/>
      </div>
      <div>
        <select asp-for="OrderItem.Topping" asp-items="@Html.GetEnumSelectList<ToppingsEnum>()"></select>
      </div>
      @*
      @foreach (var toppings in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.ToppingsEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <label class="current-order-items" asp-for="Toppings">@toppings</label>
          </div>
          <div class="column is-1">
            <input type="radio" asp-for="Toppings" name="@toppings" value="@toppings"/>
          </div>
        </div>
      }
*@
      <div>
        <h1 class="section-dish-small"> Cheese </h1>
        <hr/>
      </div>
      <div>
        <select asp-for="OrderItem.Cheese" asp-items="@Html.GetEnumSelectList<CheeseEnum>()"></select>
      </div>
      
      @* @foreach (var cheese in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.CheeseEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <label class="current-order-items" asp-for="Cheese">@cheese</label>
          </div>
          <div class="column is-1">
            <input type="radio" asp-for="Cheese" name="@cheese" value="@cheese"/>
          </div>
        </div>
      } *@
      
      <div>
        <h1 class="section-dish-small"> Sauces </h1>
        <hr/>
      </div>
      <div>
        <select asp-for="OrderItem.Sauce" asp-items="@Html.GetEnumSelectList<SauceEnum>()"></select>
      </div>
      @* @foreach (var sauce in System.Enum.GetValues(typeof(BeansBurgers_v2.Models.SauceEnum)))
      {
        <div class="columns">
          <div class="column is-3">
            <h4 class="current-order-items">@sauce</h4>
          </div>
          <div class="column is-1">
            <input type="radio" id="none" name="@sauce" value="None">
            <label class="current-order-items" for="none">None</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Normal" name="@sauce" value="Normal">
            <label class="current-order-items" for="Normal">Normal</label><br>
          </div>
          <div class="column is-1">
            <input type="radio" id="Double" name="@sauce" value="Double">
            <label class="current-order-items" for="Double">Double</label>
          </div>
        </div>
      }  *@
    </div>
  </form>
</div>
