@page 
@model BeansBurgers_v2.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}
<style>
    ul {
        list-style-type: none;
    }
</style>
<h1>Beans Burgers</h1>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cart
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul id="cart">
            @foreach (var product in Model.OrderItems)
            {
                <li>
                    <table width="100%">
                        <tr>
                            <td width="50%">
                                @product.CustomBurger
                            </td>
                            <td width="25%">
                                $@string.Format("{0:0.00}", @product.BurgerPrice)
                            </td>
                            <td width="25%">
                                <a asp-page="/Delete" asp-route-id="@product.Id">
                                    <button style="border: none; background-color: transparent; color: red">
                                        <i class="material-icons">clear</i>
                                    </button>
                                </a>
                                
                            </td>
                        </tr>
                    </table>
                </li>
            }
        </ul>
        <form action="/create-checkout-session" method="POST"><button type="submit" class="btn btn-sm btn-danger order-button float-right">Checkout</button></form>
        @*<a  title="Check out" asp-page="/Menu">Checkout</a>*@
    </div>
</div>
<form method="post" asp-page="/Menu">
    <div id="productsWrapper" class="row">
        @foreach (var product in Model.MenuItems)
        {
            @if(@product.Id == 1)
            {
                <div>
                    <h1> Side Dishes </h1>
                    <hr/>
                </div>
            }
            @if(@product.Id == 15)
            {
                <div>
                    <br/>
                    <h1> Burgers </h1>
                    <hr />
                </div>
            }
            <div class="col-sm-3">
                <a title="Order @product.Name">
                    <div class="productInfo">
                        <h3>@product.Name</h3>
                        @*<img class="product-image img-fluid img-thumbnail" src="~/Images/Products/Thumbnails/@product.ImageName" alt="Image of @product.Name" /> *@ 
                        <p class="description">@product.Description</p>
                    </div>
                </a>

                <div class="action">
                    <p class="price float-left">$@string.Format("{0:0.00}", product.Price)</p>
                    <button class="btn btn-sm btn-danger order-button float-right" name="Order" value="@product.Id" type="submit" title="Order @product.Name">Order Now</button>
                    <a class="btn btn-sm btn-danger order-button float-right" asp-page="/Customize" asp-route-id="@product.Id" title="Customize @product.Name">Customize</a>

                </div>
            </div>
        }
    </div>
</form>
@functions
{

}
@section scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        $(function () {
            $('button.details').on('click', function () {
                $('.modal-body').load(`/masterdetails/product?id=${$(this).data('id')}`);
            });
        })
    </script>
}