@page
@model BeansBurgers_v2.Pages_MenuItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    ul {
        list-style-type: none;
        color: white;
    }
    h1, p, h3, hr {
        color: white;
    }


    
    a{
        text-decoration: none;
    }
    .nope{
        background-image: none;
        background-color: transparent;
        border: none;
        color: white;
        padding: none;
        margin: none;
    }
    
    .col-sm-2{
        background-image: radial-gradient(transparent, transparent, transparent));
        margin: 5px;
        border-radius: 5px;
    }
</style>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].ImageName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
